@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'mdb-react-ui-kit/dist/css/mdb.min.css';
@import "@fortawesome/fontawesome-free/css/all.min.css";




:root {
  --background-color: #f6f6f6;
  --primary-color: #fd5555;
  --primary-text-color: #0a0a0a;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

[data-theme="dark"] {
  --background-color: #222831;
  --primary-text-color: #f6f6f6;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


